/* General */

body {
  font-family: sans-serif;
	margin: 1cm 1cm 3cm 2cm;
}

/* Encabezado */

table#encabezado  {
	margin: 0;
	padding: 0;
}

#encabezado  {
	font-weight: normal;
	font-size: 11px;
	font-style: normal;
}

#encabezado img {
	width: 230;
}

/* Data Impregnancia Contenedor */

table#data_imp {
	border-top: 1px solid black;
}

/* Data Paciente */



#data_pac  {
	font-size: 9px;
}

#data_pac td {
	vertical-align: middle;
}

#data_pac td.etiqueta {
	font-size: 8px;
	text-align: right;
}



#data_pac td.nom-ape {
	font-weight: bold;
	font-size: 14px;
}

/* Impregnancia */

#imp_table {
	margin-top: .3cm;
}

#imp_table img {
	width: 150px;
	height: auto;
}

p.imp_imp {
	font-size: 10px;
	font-weight: bold;
	line-height: 12px;
	margin: 0;
}

p.imp_sim {
	font-size: 9px;
	line-height: 12px;
	margin: 0;
	font-style: italic;
	font-weight: normal;
}

p.porcentajeMenor {
	text-align: right;
	font-size: 8px;
	margin: 0;
	line-height: 7px;
}

p.porcentajeMedio {
	text-align: center;
	font-size: 10px;
	margin: 0;
	line-height: 9px;
}

p.porcentajeMayor {
	text-align: left;
	font-size: 12px;
	margin: 0;
	line-height: 11px;
	font-weight: bold;
}

p.porcentajeMedioL {
	text-align: left;	
	font-size: 10px;
	margin: 0;
	line-height: 9px;
}

p.porcentajeMedioR {
	text-align: right;
	font-size: 10px;
	margin: 0;
	line-height: 9px;

}

/* sombra separadora */
#sombra_head {
	width: 18cm;
	height: auto;
}
/* Listado Resultados */

#resultados,
#resultado_combinado {
	border-top: 1px solid black;
	margin-top: 3mm;
}

#resultados th,
#resultado_combinado th {
	font-size: 9px;
	font-weight: bold;
	border-bottom: 1px solid black;
	vertical-align: middle;
	padding-bottom: 5px;
}

#resultados thead,
#resultado_combinado thead {
	display: table-header-group;
	}

#resultados th span
,#resultado_combinado th span{
	font-size: 7px;
	font-weight: normal;
	font-style: normal;
}

#resultados th.th_chico,
#resultado_combinado th.th_chico{
	font-size: 8px;
}

#resultados td,
#resultado_combinado td {
	font-size: 9px;
	vertical-align: middle;
}
#resultado_combinado td {
	text-align:center;
}
#resultado_combinado th,
#resultado_combinado td {
	padding:5px;
}
#resultado_combinado td.medicamento{
	text-align:left;
}

tr.vegetal td {
	background-color: #E5F2E6;
}

tr.mineral td {
	background-color: #E5EBF2;
}

tr.animal td {
	background-color: #F2E5E6;
}

tr.mineral_vegetal td {
	background-color: #E5F2EF;
}

tr.mineral_animal td {
	background-color: #F2EAF2;
}

tr.vegetal_animal td {
	background-color: #F2F1EA;
}

tr.imponderable td {
	background-color: #eaeaea;
}

/* pildoras */
img.pildora{
	width: 28px;
}

/* barritas RSM */
.rsm_bar{
	width: 40px;
	height: auto;
}

/* Clásicos y Consonantes Punto azul */
.punto_azul {
	width: 6px;
	height: 6px;
}

/* Referencias */

table.referencias_tabla{
	border: 1px solid #d8d8d8;
	margin-top: 5mm;
}

table.referencias_tabla img{

}
table.referencias_tabla td{
	font-size: 8px;
	vertical-align: middle;
}

/* Certificado */
div#texto-cert{
	width: 100%;
	text-align: center;
	font-size: 18px;
	margin-top: 1cm;
	line-height: 36px;
}
span.nombre-cert{
	font-size: 24px;
	font-weight: bold;
	line-height: 40px;
}

#logo-cert img {
	width: 478px;
	height: auto;
}

#codigo-sello {
	text-align: center;
	margin-top: 1cm;
	margin-bottom: 1cm;
}

#codigo-sello img {
	width: 344px;
	height: auto;
}

#firmas table td {
	font-size: 9px;
	text-align: center;
}

#firmas table span{
	font-size: 12px;
}
.firma_gasco{
	width: 102px;
	height: auto;
}

.firma_candegabe{
	width: 112px;
	height: auto;
}

.firma_yantorno{
	width: 89px;
	height: auto;
}