
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~font-awesome/css/font-awesome";
@import "~datatables.net-bs4/css/dataTables.bootstrap4";

// @import "helper";
@import "style";
// @import "spinners";
// @import "animate";

.alert-success {
	color: black !important;
}

.td-options {
	text-align: center !important;
}

.td-status {
	text-align: center !important;
	width: 80px !important;
}

.th-status {
	text-align: center !important;
	width: 80px !important;
}

.th-options {
	width: 80px !important;
	text-align: center !important;
}

td {
	color: #5c5a5a !important;
}

.title-order{
	border-bottom: 1px solid #ccc;
	font-size: 1.3rem;
	font-weight: 500;
}
.card-order{
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.095);
}

.dark-logo {
	width: 100%;
}

.icon-menu {
	color: #FF9800 !important;
}

.nav-link-text {
	color: black;
}

.nav-link-active {
	background-color: #FF98004D;
}

.dark-logo {
	width: 70%;
}

.transfer-capture {
	width: 900px;
	height: 600px;
}